
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Home</h2>
<div>
    @Html.ActionLink("Serch", "searchload", "Psearch")
</div>
<div>
    @Html.ActionLink("Edit", "editload", "Pedit")
</div>

<div>
    @Html.ActionLink("Delete", "delload", "Pdelete")
</div>

<div>
    @Html.ActionLink("Update", "Updateload", "Pupdate")
</div>

<div>
    @Html.ActionLink("Report", "reportload", "Preport")
</div>


